{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presences</h1>
    <a href="{{ path('presence_newSheet') }}">Générer une nouvelle Feuille</a>
    <table id="presence" class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date</th>
                <th>Status</th>
                <th>Lieu</th>
                <th>Montant Journalier</th>


                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presence in presences %}
            <tr>
                <td>{{ presence.idEmployee.prenom }}</td>
                <td>{{ presence.idEmployee.nom }}</td>
                <td>{% if presence.date %}{{ presence.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ presence.status }}</td>
                <td>{{ presence.lieu }}</td>
                <td>{{ presence.montantDay }}</td>

                {#<td>
                    <ul>
                        <li>
                            <a href="{{ path('presence_show', { 'idPresence': presence.idPresence }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('presence_edit', { 'idPresence': presence.idPresence }) }}">edit</a>
                        </li>
                    </ul>
                </td>#}
                <td>
                                <a class="btn btn-primary"  data-toggle="modal"  data-Presence="{{ presence.idPresence }}" href="#editModal">
                                    Remplir
                                </a>



            </tr>
        {% endfor %}
        </tbody>
    </table>




    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">


                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block ajax %}


    <script>



     $('#editModal').on('shown.bs.modal', function (e) {
        var myIdPresence = $(e.relatedTarget).data('presence');
        var path=  Routing.generate('presence_edit', { idPresence: myIdPresence });
        console.log(path);
        var modal = $(this);
        $.ajax(path, {
            success: function(data) {
                modal.find('.modal-body').html(data);
            }
        });
    });

    $(document).on('submit', 'form', function(e){
        // il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même
        e.preventDefault();

        $form = $(e.target);
        console.log($form);
        modal = $('#editModal');

        var title = $('#employeebundle_presence_idEmployee').val();

        var $submitButton = $form.find(':submit');
        $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
        $submitButton.prop('disabled', true);

        // ajaxSubmit du plugin ajaxForm nécessaire pour l'upload de fichier

        $form.ajaxSubmit({
            type: 'post',
            success: function(data) {
                //console.log(data);
                $html=data;
                console.log($html);
                $('#presence').html($html);
                    modal.modal('hide');
                    return false;

            },
            error: function(jqXHR, status, error) {
                $submitButton.html(button.data('label'));
                $submitButton.prop('disabled', false);
            }
        });

    });

</script>
{% endblock %}