{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presences</h1>
    <a href="{{ path('presence_newSheet') }}">Générer une nouvelle Feuille</a>

    <div class="table-responsive m-t-40">
        <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Nom Prenom</th>
                <th>Lundi</th>
                <th>Mardi</th>
                <th>Mercredi</th>
                <th>Jeudi</th>
                <th>Vendredi</th>
                <th>Samedi</th>
                <th>Dimanche</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Nom Prenom</th>
                <th>Lundi</th>
                <th>Mardi</th>
                <th>Mercredi</th>
                <th>Jeudi</th>
                <th>Vendredi</th>
                <th>Samedi</th>
                <th>Dimanche</th>
            </tr>
            </tfoot>
            <tbody>
            {% for presence in presences if presence.day ==0 %}
                <tr>
                    <td>{{ presence.idEmployee.prenom }} {{ presence.idEmployee.nom }}</td>
                    <td>
                        <a class="btn btn-primary" data-Status="Present"   data-toggle="modal"  data-Presence="{{ presence.idPresence }}" href="#editModal">
                            p
                        </a>
                        <a class="btn btn-danger"  data-toggle="modal"  data-Presence="{{ presence.idPresence }}" href="#editModal">
                            A
                        </a>

                    </td>
                    <td>
                        <a class="btn btn-primary" data-Status="Present"   data-toggle="modal"  data-Presence="{{ presence.idPresence +1}}" href="#editModal">
                            p
                        </a>
                        <a class="btn btn-danger"  data-toggle="modal"  data-Presence="{{ presence.idPresence +1}}" href="#editModal">
                            A
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary" data-Status="Present"   data-toggle="modal"  data-Presence="{{ presence.idPresence +2}}" href="#editModal">
                            p
                        </a>
                        <a class="btn btn-danger"  data-toggle="modal"  data-Presence="{{ presence.idPresence +2}}" href="#editModal">
                            A
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary" data-Status="Present"   data-toggle="modal"  data-Presence="{{ presence.idPresence +3}}" href="#editModal">
                            p
                        </a>
                        <a class="btn btn-danger"  data-toggle="modal"  data-Presence="{{ presence.idPresence +3}}" href="#editModal">
                            A
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary" data-Status="Present"   data-toggle="modal"  data-Presence="{{ presence.idPresence +4}}" href="#editModal">
                            p
                        </a>
                        <a class="btn btn-danger"  data-toggle="modal"  data-Presence="{{ presence.idPresence +4}}" href="#editModal">
                            A
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary" data-Status="Present"   data-toggle="modal"  data-Presence="{{ presence.idPresence +5}}" href="#editModal">
                            p
                        </a>
                        <a class="btn btn-danger"  data-toggle="modal"  data-Presence="{{ presence.idPresence +5}}" href="#editModal">
                            A
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary" data-Status="Present"   data-toggle="modal"  data-Presence="{{ presence.idPresence +6}}" href="#editModal">
                            p
                        </a>
                        <a class="btn btn-danger"  data-toggle="modal"  data-Presence="{{ presence.idPresence +6}}" href="#editModal">
                            A
                        </a>
                    </td>

                    <td>


                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>




    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">Fermer X</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">


                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block ajax %}


    <script>



     $('#editModal').on('shown.bs.modal', function (e) {
         var status = $(e.relatedTarget).data('status');
        var myIdPresence = $(e.relatedTarget).data('presence');
        var path=  Routing.generate('presence_edit', { idPresence: myIdPresence,status:status });
        console.log(path);
        var modal = $(this);
        $.ajax(path, {
            success: function(data) {
                modal.find('.modal-body').html(data);
            }
        });
    });

    $(document).on('submit', 'form', function(e){
        // il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même
        e.preventDefault();

        $form = $(e.target);
       // console.log($form);
        modal = $('#editModal');

        var title = $('#employeebundle_presence_idEmployee').val();

        var $submitButton = $form.find(':submit');
        $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
        $submitButton.prop('disabled', true);

        // ajaxSubmit du plugin ajaxForm nécessaire pour l'upload de fichier

        $form.ajaxSubmit({
            type: 'post',
            success: function(data) {
                //console.log(data);
                $html=data;
                $('#presence').html($html);
                    modal.modal('hide');

                $('.modal-backdrop').remove();

                    return false;

            },
            error: function(jqXHR, status, error) {
                $submitButton.html(button.data('label'));
                $submitButton.prop('disabled', false);
            }
        });

    });

</script>
{% endblock %}