{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historique des Presences</h1>

<div class="table-responsive m-t-40">
    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
            <tr >
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date</th>
                <th>Status</th>
                <th>Lieu</th>
                <th>Raison</th>
                <th>Montant Journalier</th>
            </tr>
        </thead>
        <tbody>
        {% for presence in presences %}
            <tr class="text-dark">
                <td class="text-dark">{{ presence.idEmployee.prenom }}</td>
                <td class="text-dark">{{ presence.idEmployee.nom }}</td>
                <td class="text-dark">{% if presence.date %}{{ presence.date|date('Y-m-d') }}{% endif %}</td>
                <td class="{{ presence.status }} text-dark">{{ presence.status }}</td>
                <td class="text-dark">{{ presence.lieu }}</td>
                <td class="text-dark">{{ presence.raison }}</td>
                <td class="text-dark">{{ presence.montantDay }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
