{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historique des Presences</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date</th>
                <th>Status</th>
                <th>Lieu</th>
                <th>Montant Journalier</th>



            </tr>
        </thead>
        <tbody>
        {% for presence in presences %}
            <tr>
                <td>{{ presence.idEmployee.prenom }}</td>
                <td>{{ presence.idEmployee.nom }}</td>
                <td>{% if presence.date %}{{ presence.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ presence.status }}</td>
                <td>{{ presence.lieu }}</td>
                <td>{{ presence.montantDay }}</td>

                {#<td>
                    <ul>
                        <li>
                            <a href="{{ path('presence_show', { 'idPresence': presence.idPresence }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('presence_edit', { 'idPresence': presence.idPresence }) }}">edit</a>
                        </li>
                    </ul>
                </td>#}

                               </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
