{% extends 'base.html.twig' %}

{% block body %}


    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">liste EMPLOYEES</h2>
                        <a href="{{ path('employee_new') }}">AJOUTER UN EMPLOYE</a>
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Cin</th>
                                    <th>Numtel</th>
                                    <th>salaire/jour</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Cin</th>
                                    <th>Numtel</th>
                                    <th>salaire/jour</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for employee in employees %}
                                    <tr>
                                        <td class="text-dark">{{ employee.nom }}</td>
                                        <td class="text-dark">{{ employee.prenom }}</td>
                                        <td class="text-dark">{{ employee.CIN }}</td>
                                        <td class="text-dark">{{ employee.numTel }}</td>
                                        <td class="text-dark">{{ employee.salaireJournalier }}</td>
                                        <td>
                                                    <a class="btn btn-primary" href="{{ path('employee_show', { 'idEmployee': employee.idEmployee }) }}">Rapport</a>
                                                    <a class="btn btn-danger" href="{{ path('employee_edit', { 'idEmployee': employee.idEmployee }) }}">Modifier</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End PAge Content -->
    </div>
{% endblock %}
