{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employees list</h1>

    <table>
        <thead>
            <tr>
                <th>Idemployee</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cin</th>
                <th>Numtel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td><a href="{{ path('employee_show', { 'idEmployee': employee.idEmployee }) }}">{{ employee.idEmployee }}</a></td>
                <td>{{ employee.nom }}</td>
                <td>{{ employee.prenom }}</td>
                <td>{{ employee.CIN }}</td>
                <td>{{ employee.numTel }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employee_show', { 'idEmployee': employee.idEmployee }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('employee_edit', { 'idEmployee': employee.idEmployee }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_new') }}">Create a new employee</a>
        </li>
    </ul>
{% endblock %}
