{% extends 'base.html.twig' %}

{% block body %}

{% for presence in presences %}
    {% if presence.status == "Present" %}
        {% set totalPresence = totalPresence + 1 %}
    {% elseif presence.status == "Absent" %}
        {% set totalAbsence = totalAbsence + 1 %}
    {% else %}
        {% set totalNonRempli = totalNonRempli + 1 %}
    {% endif %}
{% endfor %}

<h1>Employee : {{ employee.nom }} {{ employee.prenom }}</h1>


    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Nom</th>
                                <td>{{ employee.nom }}</td>
                            </tr>
                            <tr>
                                <th>Prenom</th>
                                <td>{{ employee.prenom }}</td>
                            </tr>
                            <tr>
                                <th>Cin</th>
                                <td>{{ employee.CIN }}</td>
                            </tr>
                            <tr>
                                <th>Numtel</th>
                                <td>{{ employee.numTel }}</td>
                            </tr>
                            <tr>
                                <th>Salaire/jour</th>
                                <td>{{ employee.salaireJournalier }}</td>
                            </tr>
                            <tr>
                                <th>total presence</th>
                                <td>{{ totalPresence }}</td>
                            </tr>
                            <tr>
                                <th>total absence</th>
                                <td>{{ totalAbsence }}</td>
                            </tr>
                            <tr>
                                <th>total no rempli</th>
                                <td>{{ totalNonRempli }}</td>
                            </tr>
                            <tr>
                                <th>
                                    <a class="btn btn-primary" href="{{ path('employee_index') }}">Back to the list</a>
                                    <a class="btn btn-info" href="{{ path('employee_edit', { 'idEmployee': employee.idEmployee }) }}">Edit</a>

                                </th>
                                <td>{{ form_start(delete_form) }}
                                    <input class="btn btn-danger" type="submit" value="Supprimer Employee">
                                    {{ form_end(delete_form) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
    </div>
</div>
<div class="table-responsive m-t-40">
    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date</th>
            <th>Status</th>
            <th>Lieu</th>
            <th>Raison</th>
            <th>Montant Journalier</th>
        </tr>
        </thead>
        <tbody>
        {% for presence in presences %}
            <tr>
                <td>{{ presence.idEmployee.prenom }}</td>
                <td>{{ presence.idEmployee.nom }}</td>
                <td>{% if presence.date %}{{ presence.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ presence.status }}</td>
                <td>{{ presence.lieu }}</td>
                <td>{{ presence.raison }}</td>
                <td>{{ presence.montantDay }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
