{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee</h1>

    <table>
        <tbody>
            <tr>
                <th>Idemployee</th>
                <td>{{ employee.idEmployee }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employee.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employee.prenom }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ employee.CIN }}</td>
            </tr>
            <tr>
                <th>Numtel</th>
                <td>{{ employee.numTel }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('employee_edit', { 'idEmployee': employee.idEmployee }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
