
{% block body %}


    <thead>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Date de paiement</th>
        <th>Montant hebdomadaire</th>
        <th>Avance</th>
        <th>Salaire</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for salaire in salaires %}
        <tr>
            <td>{{ salaire.idEmployee.nom }}</td>
            <td>{{ salaire.idEmployee.prenom }}</td>
            <td>{% if salaire.datePayment %}{{ salaire.datePayment|date('Y-m-d') }}{% endif %}</td>
            <td>{{ salaire.montantweek }}</td>
            <td>{{ salaire.avance }}</td>
            <td>{{ salaire.montantweek - salaire.avance}}</td>
            <td>{{ salaire.isPaid}}</td>

            <td>

                <a class="btn btn-primary"  data-toggle="modal"  data-Salaire="{{ salaire.idSalaire }}" href="#editModal">
                    Avance
                </a>


                <a class="btn btn-danger" href="{{ path('salaire_pay', { 'idSalaire': salaire.idSalaire }) }}">
                    Payer
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

{% endblock %}