{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historique des  Salaires</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de paiement</th>
                <th>Montant Hebdomadaire</th>
                <th>Avance</th>
                <th>Salaire</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for salaire in salaires %}
            <tr>
                <td>{{ salaire.idEmployee.nom }}</td>
                <td>{{ salaire.idEmployee.prenom }}</td>
                <td>{% if salaire.datePayment %}{{ salaire.datePayment|date('Y-m-d') }}{% endif %}</td>
                <td>{{ salaire.montantweek }}</td>
                <td>{{ salaire.avance }}</td>
                <td>{{ salaire.montantweek - salaire.avance }}</td>
                <td>{{ salaire.isPaid}}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
